.big-login-box {
  width: 100%;
  height: 42.78em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-box {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
  border-radius: 1.5em;
  background-color: black;
  height: 20em;
  width: 35em;
}
.login-box input {
  height: 2em;
}
.login-button {
  background-color: #3e3e3e;
  color: white;
  border: none;
  border-radius: 0.5em;
  width: 15em;
  height: 2em;
  font-size: 1.5em;
  margin-bottom: 2em;
}
.login-button:hover {
  background-color: #838383;
}
.input {
  font-size: 2em;
  border: none;
  width: 13em;
  text-align: center;
}
.close-button {
  background-color: #e8e7e7;
  width: 2.4em;
  height: 2.5em;
  border-radius: 100%;
  border: none;
  margin-left: auto;
  margin-bottom: auto;
}
.close-button:hover {
  background-color: #b4b3b3;
}