header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  color: #ffffff;
  height: 9.5vh;
  width: 100%;
}
header h2 {
  margin: 0;
}
.login {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4em;
  border-radius: 0.7em;
  height: 100%;
  background-color: #000000;
  color: #ffffff;
  right: 4.5em;
  border: none;
  font-size: 1.1em;
  margin-right: 2em;
}
.login:hover {
  background-color: #3e3e3e;
}
.signup {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5em;
  border-radius: 0.7em;
  height: 100%;
  background-color: #000000;
  color: #ffffff;
  right: 1em;
  border: none;
  font-size: 1.1em;
}
.signup:hover {
  background-color: #3e3e3e;
}
